.viewPost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 10%;
  padding-bottom: 20px;
}

.post_main_div {
  background-color: #1d1a1a;
  margin: 20px auto;
  border-radius: 22px;
  width: 95%;
  height: auto;
}

.headings_main_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200px;
  /* margin: 20px; */
}

.date_time_main_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
  /* margin: 10px; */
}

.date_time_inner_div {
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: auto;
    margin-left: 10px;
}

.date_time_inner_div > h1 {
  width: 200px;
  height: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 14px 0;
}

.delete_btn {
  width: 22%;
  height: auto;
  margin-right: 20px;
}
.delete_btn > img {
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.match_format_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.match_format_div > h1 {
  width: 300px;
  height: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 25px 0;
}

.image_main_div {
  /* background-color: white; */
  width: 100%;
  height: auto;
  margin: 20px;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.images_main_div > img {
  width: 300px;
  height: 300px;
}

.no_posts_main_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.no_posts_main_div > img{
  width: 50px;
  height: 50px;
}

.no_posts_main_div > h1{
  color: whitesmoke;
  font-style: italic;
  font-family: "Inter", sans-serif;
  font-size: 22px;

}